@use 'themes' as *;

@use '@nebular/theme/styles/globals' as *;

@include nb-install() {
  @include nb-theme-global();
};

@import 'ngx-toastr/toastr';

.header {
  margin-bottom: 10px;
  display: flex;
  justify-content: end;
}

.dialog {
  justify-content: center;
}

.dialog-footer {
  display: flex;
  justify-content: space-between;
}
