<nb-layout>
  <nb-layout-header fixed>
    <div class="header-container">
      <h1>AIS</h1>

      <nb-actions *ngIf="isAuthenticated">
        <nb-action icon="person-outline" [nbTooltip]="'Account'"></nb-action>
        <nb-action icon="settings-2-outline" [nbTooltip]="'Settings'"></nb-action>
        <nb-action icon="log-out-outline" [nbTooltip]="'Logout'" (click)="logout()"></nb-action>
      </nb-actions>
    </div>
  </nb-layout-header>

  <nb-sidebar
    *ngIf="isAuthenticated"
    class="menu-sidebar"
    tag="menu-sidebar"
    responsive
  >
    <nb-menu [items]="menu"></nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>
</nb-layout>
