<div *ngIf="user.IsTeacher" class="header">
  <button nbButton outline status="success" (click)="addNewGrade(addGradeDialog)">Add grade</button>
</div>

<ng-template #addGradeDialog let-data let-ref="dialogRef">
  <nb-card style="max-width: 688px;">
      <nb-card-body>
        <form>
          <input type="text" fullWidth nbInput id="student" [(ngModel)]="student" name="student" placeholder="Student">
          <input type="text" fullWidth nbInput id="subjcet" [(ngModel)]="subjcet" name="subject" placeholder="Subject">
          <input type="text" fullWidth nbInput id="grade" [(ngModel)]="grade" name="grade" placeholder="Grade">
          <textarea nbInput style="min-width: 638px; max-width: 638px;" fullWidth placeholder="Description" [(ngModel)]="description" [ngModelOptions]="{standalone: true}"></textarea>
          <p>Is final grade</p>
          <nb-toggle [ngModel]="isFinalGrade" [ngModelOptions]="{standalone: true}"></nb-toggle>
      </form>
      </nb-card-body>
      <nb-card-footer class="dialog-footer">
        <button nbButton status="danger" (click)="ref.close()">Cancel</button>
        <button nbButton status="primary" (click)="submitGrade(ref)">Submit</button>
      </nb-card-footer>
    </nb-card>
</ng-template>

<nb-card>
  <nb-card-header>
    <h1 class="h4">Grades</h1>
  </nb-card-header>
  <nb-card-body>
    <table [nbTreeGrid]="myGrades" equalColumnsWidth>

      <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
      <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

      <ng-container nbTreeGridColumnDef="Subject">
        <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{customColumn}}</th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">
          {{row.data.Subject}}
        </td>
      </ng-container>

      <ng-container *ngFor="let column of defaultColumns" [nbTreeGridColumnDef]="column">
        <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{column}}</th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data[column]}}</td>
      </ng-container>
    </table>

  </nb-card-body>
</nb-card>
