<nb-card>
  <nb-card-header>
    <h1 class="h4">Grades</h1>
  </nb-card-header>
  <nb-card-body>
    <table [nbTreeGrid]="myGrades" equalColumnsWidth>

      <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
      <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

      <ng-container nbTreeGridColumnDef="Subject">
        <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{customColumn}}</th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">
          {{row.data.Subject}}
        </td>
      </ng-container>

      <ng-container *ngFor="let column of defaultColumns" [nbTreeGridColumnDef]="column">
        <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{column}}</th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data[column]}}</td>
      </ng-container>
    </table>

  </nb-card-body>
</nb-card>
